.separator-start {
  border-block-start: solid 0.0625rem hsl(var(--color-border));
}

.object-og {
  aspect-ratio: 1.8 / 1;
  width: 100%;
}

.object-og img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.object-square {
  aspect-ratio: 1 / 1;
  width: 100%;
}

.object-square img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upvote-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  padding: 0.5rem !important;
  --p-button-size: none !important;
}

.reverse-grid {
  grid-template-areas: "alert alert" "header header" "main   side" !important;
}

aside {
  padding-top: var(--container-padding-block, 1.25rem);
}

@media (min-width: 1199px) {
  .grid-with-side {
    display: grid;
    grid-template-columns: 1fr 12.5rem;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header header"
      "main   side  "
      "footer side  ";
  }
}
