@font-face {
  font-family: "Aeonik Pro";
  src: url("https://fonts.appwrite.io/aeonik-pro/AeonikPro-Regular.woff2")
    format("woff2");
}

.grid-with-side {
  min-height: 100vh;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.theme-dark.grid-with-side {
  --p-body-text-color: var(--color-neutral-50);
  --p-body-bg-color: var(--color-neutral-500);
  color: hsl(var(--p-body-text-color));
  background-color: hsl(var(--p-body-bg-color));
}

.theme-dark .main-content {
  --p-body-text-color: var(--color-neutral-50);
  --p-body-bg-color: var(--color-neutral-500);
  color: hsl(var(--p-body-text-color));
  background-color: hsl(var(--p-body-bg-color));
}

.separator-start {
  border-block-start: solid 0.0625rem hsl(var(--color-border));
}

.object-og {
  width: 100%;
  position: relative;
}

.object-og img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16 / 9;
}

.object-og::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.object-og-rounded {
  border-radius: var(--border-radius-medium);
  overflow: hidden;
  display: inline-block;
}

.vertical-button {
  min-width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  padding: 0.5rem !important;
  --p-button-size: none !important;
}

.upvote-button.is-primary {
  color: hsl(var(--color-neutral-150));
}

.theme-dark .upvote-button.is-primary {
  color: hsl(var(--color-neutral-50));
}

:not(.theme-dark) .card {
  background: hsl(var(--color-neutral-0));
  border: 1px solid hsl(var(--color-neutral-30));
}

.theme-dark .card {
  background: hsl(var(--color-neutral-200));
  border: 1px solid hsl(var(--color-neutral-150));
}

.upvote-button.is-primary {
  background-color: transparent;
  background: transparent;
  border-color: hsl(var(--color-primary-300));
}
.upvote-button.is-primary .icon-heart {
  color: hsl(var(--color-primary-200));
}

aside {
  padding-top: var(--container-padding-block, 1.25rem);
}

.theme-dark aside {
  --p-body-text-color: var(--color-neutral-50);
  --p-body-bg-color: var(--color-neutral-500);
  color: hsl(var(--p-body-text-color));
  background-color: hsl(var(--p-body-bg-color));
}

.tag {
  background-color: hsl(var(--color-neutral-0)) !important;
  border-color: hsl(var(--color-neutral-30)) !important;
}

.theme-dark .tag {
  background-color: hsl(var(--color-neutral-400)) !important;
  border-color: hsl(var(--color-neutral-200)) !important;
}

.c-trim {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.c-trim-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.c-service-disabled {
  color: hsl(var(--color-neutral-70));
}

.theme-dark .c-service-disabled {
  color: hsl(var(--color-neutral-70));
}

.theme-dark input[type="radio"]:not(:checked) {
  background: none;
  border-color: hsl(var(--color-neutral-150));
}

input[type="radio"]:not(:checked) {
  background: none;
  border-color: hsl(var(--color-neutral-150));
}

.theme-dark input[type="checkbox"]:not(:checked) {
  background: none;
  border-color: hsl(var(--color-neutral-150));
}

input[type="checkbox"]:not(:checked) {
  background: none;
  border-color: hsl(var(--color-neutral-150));
}

.theme-dark .c-service {
  color: hsl(var(--color-neutral-150));
}

.theme-dark .c-service.is-disabled {
  color: hsl(var(--color-neutral-200));
}

.theme-dark .c-service.is-active {
  color: hsl(var(--color-primary-200));
}

.c-service {
  color: hsl(var(--color-neutral-30));
}

.c-service.is-disabled {
  color: hsl(var(--color-neutral-10));
}

.c-service.is-active {
  color: hsl(var(--color-primary-200));
}

.theme-dark .c-empty-card {
  background: hsl(var(--color-neutral-400));
}

.c-service-container {
  display: grid;
  place-content: center;
  padding: 2rem;
  width: 100%;
  background-color: hsl(var(--color-neutral-30));
}

.theme-dark .c-service-container {
  background-color: hsl(var(--color-neutral-150));
}

.c-service-container svg {
  width: 2.25rem;
  height: 100%;
}

.c-empty-card {
  background: white;
}

.c-light-only {
  display: block;
}

.theme-dark .c-light-only {
  display: none;
}

.c-dark-only {
  display: none;
}

.theme-dark .c-dark-only {
  display: block;
}

.theme-dark .c-filter-card {
  background: hsl(var(--color-neutral-300));
}

.c-filter-card {
  background: white;
}

.buttons-list-item:nth-child(n + 2)::before {
  display: none !important;
}

.menu-right .buttons-list-item:nth-child(2)::before {
  display: block !important;
}

.main-header {
  gap: 0.5rem !important;
}

.theme-dark .upload-box {
  background-color: hsl(var(--color-neutral-500));
}

.tooltip-popup {
  z-index: 10 !important;
}

.theme-dark .prose h1,
.theme-dark .prose h2,
.theme-dark .prose h3,
.theme-dark .prose h4,
.theme-dark .prose h5,
.theme-dark .prose h6 {
  color: hsl(var(--color-neutral-10));
}

.theme-dark .prose p,
.theme-dark .prose a,
.theme-dark .prose ul,
.theme-dark .prose li,
.theme-dark .prose ol {
  color: hsl(var(--color-neutral-50));
}

.theme-dark .prose span,
.theme-dark .prose code {
  color: hsl(var(--color-neutral-25));
}

.theme-dark .c-menu-selected {
  background-color: hsl(var(--color-neutral-200));
  color: hsl(var(--color-neutral-50));
}

.c-menu-selected {
  background-color: hsl(var(--color-neutral-30));
  color: hsl(var(--color-neutral-200));
}

.theme-dark .c-menu-icon {
  color: hsl(var(--color-neutral-100));
}

.c-menu-icon {
  color: hsl(var(--color-neutral-50));
}

.search-modal {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 600px;
  max-width: calc(100% - 2rem);
  height: 400px;
  max-height: calc(100% - 2rem);
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;
  max-height: 100%;
  margin-top: 16px;
}

.search-item {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-small);
  padding: 8px 12px;
}

.search-item.selected,
.search-item:hover {
  background-color: hsl(var(--color-neutral-30));
}

.theme-dark .search-item.selected,
.theme-dark .search-item:hover {
  background-color: hsl(var(--color-neutral-150));
}

.share-links-item {
  border-radius: var(--border-radius-xsmall);
  background-color: hsl(var(--color-primary-300));
}

.share-links-item > * {
  display: grid;
  place-content: center;
  inline-size: 3.125rem;
  block-size: 3.125rem;
}

:root {
  /** Neutral **/

  --color-neutral-0-new: 0 0% 100%; /* #ffffff */
  --color-neutral-5-new: 240 11% 98%; /* #FAFAFB */
  --color-neutral-10-new: 240 9% 94%; /* #EDEDF0 */
  --color-neutral-15-new: 240 4% 85%; /* #D8D8DB */
  --color-neutral-20-new: 240 3% 77%; /* #C3C3C6 */

  --color-neutral-50-new: 240 2% 52%; /* #818186 */
  --color-neutral-60-new: 240 2% 43%; /* #6C6C71 */
  --color-neutral-70-new: 240 3% 35%; /* #56565C */

  --color-neutral-80-new: 240 4% 27%; /* #414146 */
  --color-neutral-85-new: 240 4% 18%; /* #2D2D31 */
  --color-neutral-90-new: 240 7% 12%; /* #1D1D21 */
  --color-neutral-100-new: 240 6% 10%; /* #19191C */
  --color-neutral-110-new: 240 5% 8%; /* #141416 */

  --color-neutral-0: var(--color-neutral-0-new) !important;
  --color-neutral-5: var(--color-neutral-5-new) !important;
  --color-neutral-10: var(--color-neutral-10-new) !important;
  --color-neutral-30: var(--color-neutral-15-new) !important;
  --color-neutral-50: var(--color-neutral-20-new) !important;

  --color-neutral-70: var(--color-neutral-50-new) !important;
  --color-neutral-100: var(--color-neutral-60-new) !important;
  --color-neutral-120: var(--color-neutral-70-new) !important;

  --color-neutral-150: var(--color-neutral-80-new) !important;
  --color-neutral-200: var(--color-neutral-85-new) !important;
  --color-neutral-300: var(--color-neutral-90-new) !important;
  --color-neutral-400: var(--color-neutral-100-new) !important;
  --color-neutral-500: var(--color-neutral-110-new) !important;

  --heading-font: "Aeonik Pro" !important;
  --content-font: "Inter" !important;
}
.prose {
  color: #374151;
  max-width: 65ch;
}

.prose [class~="lead"] {
  color: #4b5563;
  font-size: 1.25em;
  line-height: 1.6;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.prose a {
  color: #111827;
  text-decoration: underline;
  font-weight: 500;
}

.prose strong {
  color: #111827;
  font-weight: 600;
}

.prose ol[type="A"] {
  --list-counter-style: upper-alpha;
}

.prose ol[type="a"] {
  --list-counter-style: lower-alpha;
}

.prose ol[type="A" s] {
  --list-counter-style: upper-alpha;
}

.prose ol[type="a" s] {
  --list-counter-style: lower-alpha;
}

.prose ol[type="I"] {
  --list-counter-style: upper-roman;
}

.prose ol[type="i"] {
  --list-counter-style: lower-roman;
}

.prose ol[type="I" s] {
  --list-counter-style: upper-roman;
}

.prose ol[type="i" s] {
  --list-counter-style: lower-roman;
}

.prose ol[type="1"] {
  --list-counter-style: decimal;
}

.prose ol > li {
  position: relative;
  padding-left: 1.75em;
}

.prose ol > li::before {
  content: counter(list-item, var(--list-counter-style, decimal)) ".";
  position: absolute;
  font-weight: 400;
  color: #6b7280;
  left: 0;
}

.prose ul > li {
  position: relative;
  padding-left: 1.75em;
}

.prose ul > li::before {
  content: "";
  position: absolute;
  background-color: #d1d5db;
  border-radius: 50%;
  width: 0.375em;
  height: 0.375em;
  top: calc(0.875em - 0.1875em);
  left: 0.25em;
}

.prose hr {
  border-color: #e5e7eb;
  border-top-width: 1px;
  margin-top: 3em;
  margin-bottom: 3em;
}

.prose blockquote {
  font-weight: 500;
  font-style: italic;
  color: #111827;
  border-left-width: 0.25rem;
  border-left-color: #e5e7eb;
  quotes: "\201C" "\201D" "\2018" "\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em;
}

.prose blockquote p:first-of-type::before {
  content: open-quote;
}

.prose blockquote p:last-of-type::after {
  content: close-quote;
}

.prose h1 {
  color: #111827;
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}

.prose h2 {
  color: #111827;
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}

.prose h3 {
  color: #111827;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}

.prose h4 {
  color: #111827;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

.prose figure figcaption {
  color: #6b7280;
  font-size: 0.875em;
  line-height: 1.4285714;
  margin-top: 0.8571429em;
}

.prose code {
  color: #111827;
  font-weight: 600;
  font-size: 0.875em;
}

.prose code::before {
  content: "`";
}

.prose code::after {
  content: "`";
}

.prose a code {
  color: #111827;
}

.prose pre {
  color: #e5e7eb;
  background-color: #1f2937;
  overflow-x: auto;
  font-size: 0.875em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: 0.375rem;
  padding-top: 0.8571429em;
  padding-right: 1.1428571em;
  padding-bottom: 0.8571429em;
  padding-left: 1.1428571em;
}

.prose pre code {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: 400;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

.prose pre code::before {
  content: none;
}

.prose pre code::after {
  content: none;
}

.prose table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.875em;
  line-height: 1.7142857;
}

.prose thead {
  color: #111827;
  font-weight: 600;
  border-bottom-width: 1px;
  border-bottom-color: #d1d5db;
}

.prose thead th {
  vertical-align: bottom;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}

.prose tbody tr {
  border-bottom-width: 1px;
  border-bottom-color: #e5e7eb;
}

.prose tbody tr:last-child {
  border-bottom-width: 0;
}

.prose tbody td {
  vertical-align: top;
  padding-top: 0.5714286em;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}

.prose {
  font-size: 1rem;
  line-height: 1.75;
}

.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose img {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose video {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose figure {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose figure > * {
  margin-top: 0;
  margin-bottom: 0;
}

.prose h2 code {
  font-size: 0.875em;
}

.prose h3 code {
  font-size: 0.9em;
}

.prose ol {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose ul {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose > ul > li p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.prose > ul > li > *:first-child {
  margin-top: 1.25em;
}

.prose > ul > li > *:last-child {
  margin-bottom: 1.25em;
}

.prose > ol > li > *:first-child {
  margin-top: 1.25em;
}

.prose > ol > li > *:last-child {
  margin-bottom: 1.25em;
}

.prose ul ul,
.prose ul ol,
.prose ol ul,
.prose ol ol {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.prose hr + * {
  margin-top: 0;
}

.prose h2 + * {
  margin-top: 0;
}

.prose h3 + * {
  margin-top: 0;
}

.prose h4 + * {
  margin-top: 0;
}

.prose thead th:first-child {
  padding-left: 0;
}

.prose thead th:last-child {
  padding-right: 0;
}

.prose tbody td:first-child {
  padding-left: 0;
}

.prose tbody td:last-child {
  padding-right: 0;
}

.prose > :first-child {
  margin-top: 0;
}

.prose > :last-child {
  margin-bottom: 0;
}
