.separator-start {
  border-block-start: solid 0.0625rem hsl(var(--color-border));
}

.object-og {
  aspect-ratio: 1.8 / 1;
  width: 100%;
}

.object-og img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.object-square {
  aspect-ratio: 1 / 1;
  width: 100%;
}

.object-square img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vertical-button {
  min-width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  padding: 0.5rem !important;
  --p-button-size: none !important;
}

.upvote-button.is-primary {
  color: hsl(var(--color-neutral-150));
}

.theme-dark .upvote-button.is-primary {
  color: hsl(var(--color-neutral-50));
}

.upvote-button.is-primary {
  background-color: transparent;
  background: transparent;
  border-color: hsl(var(--color-primary-300));
}
.upvote-button.is-primary .icon-heart {
  color: hsl(var(--color-primary-200));
}

aside {
  padding-top: var(--container-padding-block, 1.25rem);
}

.tag {
  background-color: hsl(var(--color-neutral-0)) !important;
  border-color: hsl(var(--color-neutral-30)) !important;
}

.theme-dark .tag {
  background-color: hsl(var(--color-neutral-400)) !important;
  border-color: hsl(var(--color-neutral-200)) !important;
}

.c-trim {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.c-trim-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.c-service-disabled {
  color: hsl(var(--color-neutral-70));
}

.theme-dark .c-service-disabled {
  color: hsl(var(--color-neutral-70));
}

.theme-dark input[type="checkbox"]:not(:checked) {
  background: none;
  border-color: hsl(var(--color-neutral-150));
}

.theme-dark .c-service {
  color: hsl(var(--color-neutral-150));
}

.theme-dark .c-service.is-disabled {
  color: hsl(var(--color-neutral-200));
}

.theme-dark .c-service.is-active {
  color: hsl(var(--color-primary-200));
}

.c-service {
  color: hsl(var(--color-neutral-30));
}

.c-service.is-disabled {
  color: hsl(var(--color-neutral-10));
}

.c-service.is-active {
  color: hsl(var(--color-primary-200));
}

.theme-dark .c-empty-card {
  background: hsl(var(--color-neutral-400));
}

.c-empty-card {
  background: white;
}

.c-light-only {
  display: block;
}

.theme-dark .c-light-only {
  display: none;
}

.c-dark-only {
  display: none;
}

.theme-dark .c-dark-only {
  display: block;
}

.theme-dark .c-filter-card {
  background: hsl(var(--color-neutral-300));
}

.c-filter-card {
  background: white;
}

.buttons-list-item:nth-child(n + 2)::before {
  display: none !important;
}

.menu-right .buttons-list-item:nth-child(2)::before {
  display: block !important;
}

.main-header {
  gap: 0.5rem !important;
}

.theme-dark .upload-box {
  background-color: hsl(var(--color-neutral-500));
}

.tooltip-popup {
  z-index: 10 !important;
}

.theme-dark .prose h1,
.theme-dark .prose h2,
.theme-dark .prose h3,
.theme-dark .prose h4,
.theme-dark .prose h5,
.theme-dark .prose h6 {
  color: hsl(var(--color-neutral-10));
}

.theme-dark .prose p,
.theme-dark .prose a,
.theme-dark .prose ul,
.theme-dark .prose li,
.theme-dark .prose ol {
  color: hsl(var(--color-neutral-50));
}

.theme-dark .prose span,
.theme-dark .prose code {
  color: hsl(var(--color-neutral-25));
}
